.nav {
    display: flex;
    position: fixed;
    align-items: center;
    padding: 10px 30px;
    color: white;
    width: 95%;
    z-index: 300;
    justify-content: space-between;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.071);
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login a {
    color: white;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.login button{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(15, 15, 15);
    transition: 0.5s;
}

.login button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-info span {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 500;
}

.user-info button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-info button:hover {
    background-color: #d32f2f;
}


@media (max-width:679px){
    .nav{
        width: 80%;
    }
}