.startscreen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100%;
    z-index: 10;
    transition: 1s;
}

.startscreen.active{
    transform: scale(30);
    opacity: 0;
}

.startscreen.active.none{
    display: none;
}